Package: ubuntukylin-theme
Version: 0.1
Architecture: i386
Maintainer: zhangchao <zctgbhu@163.com>
Installed-Size: 34113
Section: x11
Priority: extra
Homepage: <insert the upstream URL, if relevant>
Description: ubuntukylin theme
 <insert long description, indented with spaces>
