$bg_color: #ffffff;
$fg_color: #0C0C0D;
$bd_color: $bg_color;

$active_bg_color: #3D6BE5;
$active_fg_color: #F8F8F8;
$active_bd_color: $active_bg_color;

$disable_bg_color:#F8F8F8;
$disable_fg_color:#c0c0c0;
$disable_bd_color: $disable_bg_color;

$selected_fg_color: $active_fg_color;
$selected_bg_color: $active_bg_color;
$selected_borders_color: $selected_bg_color;

$button_bg_color:#D9D9D9;

$change_bg_color:#f8f8f8;
/**  The above are all the basic colors, it is recommended to adjust only these colors  **/

/* Text Entries */
$text_bg_color:#e9e9e9;

/** Link **/
$link_fg_color: $fg_color;
$link_active_fg_color: $active_fg_color;
$link_visited_fg_color: $active_fg_color;
$link_selected_fg_color: $selected_fg_color;
$dark_fill: mix($bg_color, $bg_color, 50%);
$alt_borders_color: darken($bg_color, 35%);
$borders_edge: transparentize(white, 0.2);/*shadow*/
$top_hilight: $borders_edge;

/**popover**/
$popover_bg_color: $bg_color;
$warning_color: #d42320;
$error_color: #0C0C0D;
$success_color: $active_bg_color;
$destructive_color: #d42320;

/**osd**/
$osd_fg_color: $fg_color;
$osd_text_color: $fg_color;
$osd_bg_color: transparentize(#0c0c0d, 0.3);
$osd_borders_color:  $bg_color;

$shadow_color: transparentize(black, 0.9);
$drop_target_color: $bg_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: darken($bg_color, 1%);
$backdrop_text_color: mix($fg_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 50%);
$backdrop_selected_fg_color: $backdrop_base_color;
$backdrop_borders_color: 	$disable_bd_color;
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 50%);
$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
$backdrop_scrollbar_slider_color: mix($backdrop_fg_color, $backdrop_bg_color, 40%);
$backdrop_menu_color: $backdrop_base_color;

/*
 * Base color
 */
/* background colors in different states */
$base_normal_bg_color: $bg_color;
$base_active_bg_color: $active_bg_color;
$base_prelight_bg_color: $active_bg_color;
$base_selected_bg_color:  $active_bg_color;
$base_focused_bg_color: $bg_color;
$base_backdrop_bg_color: $bg_color;
$base_checked_bg_color: $base_active_bg_color;

/* foreground colors in different states */
$base_normal_fg_color: $fg_color;
$base_active_fg_color: $active_fg_color;
$base_prelight_fg_color: $active_fg_color;
$base_selected_fg_color: $active_fg_color;
$base_focused_fg_color: $fg_color;
$base_backdrop_fg_color: $base_normal_fg_color;
$base_checked_fg_color: $fg_color;

/* border color in different states */
$base_normal_border_color: $backdrop_borders_color ;
$base_active_border_color: $active_bd_color;
$base_prelight_border_color: $active_bd_color;
$base_selected_border_color: $backdrop_borders_color;
$base_focused_border_color: $backdrop_borders_color;
$base_backdrop_border_color: $backdrop_borders_color;
$base_checked_border_color: $backdrop_borders_color;

/*
 * background image in different states.
 * The color value of bg_image is the same as the bg_color
 */
$base_normal_bg_image: image($bg_color);
$base_active_bg_image: image($base_active_bg_color);
$base_prelight_bg_image: image($base_prelight_bg_color);
$base_insensitive_bg_image: image($bg_color);
$base_focused_bg_image: image($base_focused_bg_color);
$base_backdrop_bg_image: image($base_backdrop_bg_color);
$base_backdrop_sensitive_bg_image: image($bg_color);
$base_backdrop_insensitive_bg_image: image($bg_color);
$base_checked_bg_image: image($base_checked_bg_color);

/*
 * ComboBox
 */
$combobox_button_normal_bg_image: image(#F8F8F8);
/* ComboBox dropdown colors */
$combobox_dropdown_menuitem_normal_bg_color: #F8F8F8;

/*
 * Notebooks
 */
$notebook_tab_normal_bg_color: $change_bg_color;
$notebook_tab_checked_bg_color: $bg_color;
$notebook_tab_closebutton_normal_bg_image: image($change_bg_color);
$notebook_tab_closebutton_active_bg_image: image(#cccccc);
$notebook_tab_closebutton_checked_bg_image: image($notebook_tab_checked_bg_color);

/*
 * Scrollbar
 */
$scrollbar_bg_color: mix($bg_color, $fg_color, 80%);
$scrollbar_normal_bg_color: $bg_color;
$scrollbar_prelight_bg_color: #dfdfdf;
$scrollbar_free_space_color: #dfdfdf; 
$scrollbar_slider_normal_color: #c7c7c7;
$scrollbar_slider_active_color: #bababa;
$scrollbar_slider_prelight_color: #9f9f9f;
$scrollbar_slider_insensitive_color: $disable_bg_color;


/*
 * Scale & Progressbar
 */
$trough_free_space_normal_color: #f8f8f8;
$trough_free_space_insensitive_color: $disable_bg_color;
$trough_filled_space_normal_color: $active_bg_color;
$trough_filled_space_insensitive_color: $disable_bg_color;
$trough_border_normal_color: $bd_color;


/*
 * Frame
 */
$frame_label_normal_fg_color: $base_normal_fg_color;
$frame_border_normal_color: $base_normal_border_color;


/*
 * Treeview
 */
$treeview_view_selected_bg_color: $base_active_bg_color;
$treeview_view_prelight_bg_color: $base_prelight_bg_color;
$treeview_header_bg_image: image(#f0f0f0);
$treeview_generic_border_color:  $bd_color;


/*
 * Headerbar
 */
$headerbar_color: lighten($bg_color, 5%);
$headerbar_normal_fg_color: #0c0c0d;
$headerbar_backdrop_fg_color: #0c0c0d;
$headerbar_normal_bg_image: image(#ffffff);
$headerbar_backdrop_bg_image: image(#ffffff);
$headerbar_button_normal_fg_color: #0c0c0d;
$headerbar_button_backdrop_fg_color: #0c0c0d;
$headerbar_button_prelight_fg_color: $active_fg_color;
$headerbar_button_active_fg_color: $active_fg_color;
$headerbar_button_normal_bg_image: image(#ffffff);
$headerbar_button_backdrop_bg_image: image(#ffffff);
$headerbar_button_prelight_bg_image: image(#3D6BE5);
$headerbar_button_active_bg_image: image(#3D6BE5);
$headerbar_closebutton_prelight_bg_image: image(#d42320);
$headerbar_closebutton_active_bg_image: image(#ac4844);
$headerbar_normal_border_color: #ffffff;
$headerbar_backdrop_border_color: #ffffff;


/*
 * menu
 */
$menu_color:$change_bg_color;
$menuitem_insensitive_bg_color:$disable_bg_color;

