/* CSS for applications */
/*
 * Panel
 */
.ukui-panel-menu-bar {
	grid {
		background-color: $panel_normal_bg_color;
	}

	button {
		border-width: 1px;
		border-color: $panel_button_normal_border_color;
		color: white;
		background-image: $panel_button_normal_bg_image;
	}
}


/*
 * Menu, Indicator
 */
#PanelPlug box {
	background-color: $panel_normal_bg_color;
}


/*
 * Calendar
 */
#ukui-time-button {
	border-width: 0px;
	background-image: $panel_normal_bg_image;
}


/*
 * Control Center
 */
/* left side bar */
#viewport11 {
	background-color: $ukcc_sidebar_normal_bg_color;
	button {
		color: blue;
	}
	/* viewport>button that is selected will be disabled in UKCC */
	viewport:disabled {
		button:disabled {
			background-image: $base_active_bg_image;
			label:disabled {
				color: $base_normal_fg_color;
				font-weight: bold;
			}
		}
	}
}

#default_app_scroll_window {
	border-width: 0px;
}

#shortcut_treeview.view {
	header {
		button {
			min-height: 35px;
		}
	}
}


/*
 * Terminal
 */
notebook {
	> header {
		tab {
			border-style: solid none solid solid;
		}
	}
}


/*
 * Peony
 */
.peony-navigation-window {
	treeview {
		&.view {
			border-style: none;
		}
	}
}
