Source: ubuntukylin-theme
Section: x11
Priority: extra
Maintainer: Ubuntu Kylin Team <ubuntukylin-members@lists.launchpad.net>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.4

Package: ubuntukylin-theme
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: ubuntukylin theme
 Theme for UbuntuLykin
