/* Decorations */

UnityDecoration {
    -UnityDecoration-extents: 31px 0 0 0;
    -UnityDecoration-input-extents: 10px;

    -UnityDecoration-shadow-offset-x: 1px;
    -UnityDecoration-shadow-offset-y: 5px;
    -UnityDecoration-active-shadow-color: rgba (0, 0, 0, 0.75);
    -UnityDecoration-active-shadow-radius: 30px;
    -UnityDecoration-inactive-shadow-color: rgba (0, 0, 0, 0.3);
    -UnityDecoration-inactive-shadow-radius: 25px;

    -UnityDecoration-glow-size: 20px;
    -UnityDecoration-glow-color: @selected_bg_color;

    -UnityDecoration-title-indent: 10px;
    -UnityDecoration-title-fade: 35px;
    -UnityDecoration-title-alignment: 0.0;
}

UnityDecoration.top {
    border-width: 0;/* 窗口标题栏描边宽度 */
    border-top-width: 0;
    border-bottom-width: 0;
    border-radius: 0px 0px 0 0;
    padding: 1px 6px 0 6px;

    

    background-color: transparent;
    
    background-image: -gtk-gradient (linear, 0 0, 0 1,
                                     from (@title_color),
                                     to (@title_color));

    color: #ffffff;
    text-shadow: none;
}

UnityDecoration.top:backdrop {
    border-width: 0;
    border-bottom-width: 0;
    background-color: transparent;
    
    background-image: -gtk-gradient (linear, 0 0, 0 1,
                                     from (@dark_bg_color),
                                     to (@dark_bg_color));
    text-shadow:none;
    color: @dark_fg_color;
}

UnityDecoration.left,
UnityDecoration.right {
    background-color: shade (@bg_color, 0.7);
    background-size: 1px 70px;
    background-repeat: repeat-x;

    /* start color: mix of the top border color and bg-image gradient end */
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     color-stop (0, #2b2a2a),
                                     color-stop (0.5, #2b2a2a),
                                     color-stop (1, shade (@bg_color, 0.7)));
}

UnityDecoration.left:backdrop,
UnityDecoration.right:backdrop {
    /* start color: mix of the top border color and bg-image gradient end */
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     color-stop (0, #373632),
                                     color-stop (0.5, #373632),
                                     color-stop (1, shade (@bg_color, 0.7)));
}

UnityDecoration.bottom {
    background-image: none;
    background-color: shade (@bg_color, 0.7);
}

/* Panel Style */

UnityPanelWidget,
.unity-panel {
    background-color: transparent;
    /*background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.5)),
                                     to (shade (@dark_bg_color, 1.04)));*/
    
    border-width: 0;

    color: #ffffff;
    text-shadow: none;
}
/*
UnityPanelWidget:backdrop,
.unity-panel:backdrop {
    color: #807d78;
}
*/
.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
    border-width: 1px 1px 0 1px;
    -gtk-icon-shadow: 0 -1px shade (@dark_bg_color, 0.7);
}

.unity-panel.menubar:backdrop,
.unity-panel .menubar *:backdrop {
    color: @backdrop_dark_fg_color;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
    background-image: -gtk-gradient (linear, left top, left bottom,
                                     from (shade (@dark_bg_color, 1.5)),
                                     to (shade (@dark_bg_color, 1.11)));
}


@keyframes playbackmenuitem_spinner {
    to { -gtk-icon-transform: rotate(1turn); }
}

.menu IdoPlaybackMenuItem.menuitem:active {
    -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
    animation: playbackmenuitem_spinner 1s infinite linear;
    color: @selected_bg_color;
}
